@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import "tailwindcss";
@import "./styles/fonts.css";
@import "./styles/theme.css";

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
}

:root {
  /* Layout & Cards */
  --bg-dashboard: #f8faf9;
  --bg-card: #ffffff;
  --border-card: #dededf;

  /* Typography */
  --text-main: #111827;
  --text-muted: #9ca3af;

  /* Primary Brand (Teal) */
  --primary-solid: #2b6153;
  --primary-hover: #224d42;
  --primary-light: #59a28e;

  /* Accents & Utilities */
  --accent-surface: #e8f4f1;
  --accent-text: #3d8b78;
  --coral-surface: #fce8df;
  --coral-text: #c05c3a;
}